.SpinnerMovie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SpinnerOrder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}