.Page {
    background-image: url('https://cdn.pixabay.com/photo/2014/11/30/17/15/theater-551797_960_720.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    background-color: black;
    /* align-items: center; */
    width: 100%;
    min-height: 100vh;
    /* position: fixed; */
    top: 0;
    right: 0;
    color:white;
    font-family: 'Oswald';
}

.Gauche {
    width: 100%;
    padding: 20px;
}

.Droite {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
}