.ButtonTop {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: black;
    color: white;
    position: fixed;
    left: 15px;
    bottom: 15px;
    cursor: pointer;
}

.Up {
    width: 60px;
    height: 60px;
}

.Up:hover {
    color: red;
}