.PageMyInfo {
    width: 100%;
    font-family: PT Sans;
}

.BlockContainer {
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    margin: 20px auto;
}

.TitleBackground {
    background-image: radial-gradient(circle at 50% 50%, #ae0000, #000000);
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.Title {
    font-weight: bold;
    color: black;
}

.h4 {
    margin-top: 10px;
}

/* ---------- PhotoUser ----------*/

.BlockImageProfil {
    height: 220px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ImgProfil {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left: 35px;
}

.BlockLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: yellow;
    border: 1px solid black;
    top: 85px;
    right: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.LogoAdd {
    width: 30px;
    height: 30px;
    color: black;
}

/* ---------- infoUser ----------*/

.BlockUserInfo {
    height: 310px;
    margin: 10px;
}

.Label {
    margin-top: 7px;
    font-size: 25px;
    color: black;
    height: 40px;
}

.Duo {
    padding: 10px;
    height: 70px;
    width: 70%;
    margin: auto;
}

.Input {
    margin-top: 7px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    color: black;
    outline:none;
    background-color: rgb(237, 237, 237);
    padding: 10px;
}

.Input:hover,
.Input:active,
.Input.active {
    color: black;
}

.Error {
    margin-top: 3px;
    color: red;
    text-align: center;
}

/* ---------- cbUser ----------*/

.BlockCbUser {
    height: 250px;
    margin: 20px;
}

@media(max-width: 400px) {
    .BlockCbUser {
        margin: 0;
        margin-top: 20px;
    }
}