.Toolbar {
    background-color: black;
    border-bottom: 2px solid white;
}

.NavUser {
    margin: auto;
}

.NavLogout {
    display:flex;
    align-items: center;
    margin: auto;
}

.User {
    width: 70px;
    height: 70px;
    border: 2px solid transparent;
}

.User:hover {
    border: 2px solid white;
}

.Logout {
    width: 40px;
    height: 40px;
    color: white;
}

.Logout:hover {
    color: red; 
}

@media (min-width: 991px) {
    .NavUser {
        margin: 0 10px;
    }
}