.PageProfil {
    background-image: url('../../assets/profil.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    top: 0;
    right: 0;
    color:white;
    font-family: 'Oswald';
}

.NavProfil {
    width: 200px;
    background-color: white;
    box-shadow: 3px -3px 5px 5px #ccc;
}

.UlProfil {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
}

.LiProfil, .LiClick {
    width: 140px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: 2px solid white;
    border-radius: 2px;
    font-family: PT Sans,sans-serif;
}

.LiProfil:hover {
    cursor: pointer;
    background-color: rgb(61, 61, 61);
}

.LiClick {
    background-color: red;
}

.Children {
    height: 500px;
    background-color: black;
    border: white 1px solid;
}


@media (max-width: 600px) {
    .PageProfil {
        display: flex;
        flex-direction: column;
    }

    .NavProfil {
        box-shadow: -3px 5px 5px 5px #ccc;
        width: 100%;
    }
    
    .UlProfil {
        display: flex;
        flex-direction: row;
    }
}