.PageProfil {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    top: 0;
    right: 0;
    color:white;
    background-color: #f3f3f3;
    font-family: 'Oswald';
}

.NavProfil {
    width: 180px;
    background-color: white;
    box-shadow: 3px -3px 5px 5px #ccc;
}

.MyAccount {
    font-family: 'Helvetica Neue';
    text-transform: uppercase;
    height: 100px;
    color: #333;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    font-size: 1.3em;
}

.UlProfil {
    height: 300px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.LiProfil, .LiClick {
    font-size: 1em;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: PT Sans,sans-serif;
    border-left: 5px solid transparent;
}

.LogoProfil {
    width: 40px;
    height: 40px;
    color: black;
}

.LiClick { 
    background-color: red;
}

.NavLinkProfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 5px solid transparent;
}

.NavLinkProfil:hover {
    border-left: 5px solid red;
    cursor: pointer;
}

.Children {
    margin: auto;
    margin-top: 35px;
    width: 750px;
}

@media (max-width: 1025px) {
    .MyAccount {
        height: 70px;
    }

    .PageProfil {
        display: flex;
        flex-direction: column;
    }

    .NavProfil {
        box-shadow: -3px 5px 5px 5px #ccc;
        width: 100%;
    }
    
    .UlProfil {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 70px;
    }

    .LiProfil, .LiClick {
       display: none;
    }

    .NavLinkProfil {
        height: 100px;
        border-left: none;
        border-bottom: 5px solid transparent;
    }

    .NavLinkProfil:hover {
        border-left: none;
        border-bottom: 5px solid red;
    }
}

@media (max-width: 820px) {
    .Children {
        width: 90%;
    }
}